* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    width: 100vw;
    background-color: rgb(72, 72, 72);
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    position: absolute;
    background-color: #3e10a3;
    width: 35rem;
    height: 28rem;
    display: grid;
    grid:
        "header header"
        "fName lName"
        "email email"
        "subHeader subHeader"
        "class1 class2"
        "class3 class4"
        "btn btn";
    grid-template-rows: auto;
    grid-template-columns: auto;
    gap: 0.4rem;
    padding: 0.8rem;
}

.offCenter {
    top: 20%;
    left: 20%;
}

h2 {
    grid-area: header;
    text-align: center;
    font-size: 2rem;
    color: white;
}

.input_fields {
    font-size: 1rem;
    padding: 0.2rem;
    border: none;
    background-color: #a7b5ed;
    border-right: 1.5px solid rgb(147, 147, 147);
    border-left: 1.5px solid rgb(147, 147, 147);
    border-top: 1.5px solid rgb(0, 0, 0);
    border-bottom: 1.5px solid rgb(0, 0, 0);
    color: white;
    text-align: center;
}

::placeholder {
    color: black;
}

.f_name {
    grid-area: fName;
}
.l_name {
    grid-area: lName;
}
.email {
    grid-area: email;
}

.input_fields:focus {
    border: 1.5px solid #2c067c;
    border-bottom: 1.5px solid white;
    outline: none;
    color: white;
}

h3 {
    grid-area: subHeader;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.class1 {
    grid-area: class1;
}
.class2 {
    grid-area: class2;
}
.class3 {
    grid-area: class3;
}
.class4 {
    grid-area: class4;
}

span {
    font-style: italic;
    font-size: 1rem;
    padding: 0.5rem;
}

button {
    grid-area: btn;
    padding: 0.6rem;
    outline: none;
    border: none;
    background-color: #a7b5ed;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0.5rem;
}

button:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.2s ease-in-out;
}

button:active {
    box-shadow: none;
    transform: scale(1.05);
    transition: 0.3s;
}

.class,
label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a7b5ed;
    color: white;
    height: 100%;
    width: 100%;
    border-radius: 0.1rem;
}

label:hover {
    box-shadow: 1px 1px 0px 1px rgb(0, 0, 0);
    cursor: pointer;
    color: black;
}

label:active {
    transform: scale(1.05);
    transition: 0.3s;
}

input[type="radio"] {
    height: 1rem;
    width: 1rem;
    margin: 0.5rem;
}

img {
    height: 4.5rem;
    width: 4.5rem;
    object-fit: cover;
}

/* Loader */
.loader {
    grid-area: btn;
    border: 18px solid #f3f3f3; /* Light grey */
    border-top: 18px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1.5s linear infinite;
    justify-self: center;
    align-self: center;
    display: inline;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}
