* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    width: 100vw;
    background-color: rgb(72, 72, 72);
}

form {
    position: absolute;
    top: 20%;
    left: 20%;
    background-color: #3e10a3;
    width: 35rem;
    height: 28rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    gap: 0.4rem;
    padding: 0.5rem;
}

h2 {
    grid-row: 1;
    grid-column: 1/5;
    text-align: center;
    font-size: 2rem;
    color: white;
}

.f_name {
    grid-row: 2;
    grid-column: 1/3;
}
.l_name {
    grid-row: 2;
    grid-column: 3/5;
}
.email {
    grid-row: 3;
    grid-column: 1/5;
}
::placeholder {
    color: black;
}

.input_fields {
    font-size: 1rem;
    padding: 0.2rem;
    border: none;
    background-color: #a7b5ed;
    border-right: 1.5px solid rgb(147, 147, 147);
    border-left: 1.5px solid rgb(147, 147, 147);
    border-top: 1.5px solid rgb(0, 0, 0);
    border-bottom: 1.5px solid rgb(0, 0, 0);
    color: white;
    text-align: center;
}

.input_fields:focus {
    border: 1.5px solid #2c067c;
    border-bottom: 1.5px solid white;
    outline: none;
    color: white;
}

h3 {
    grid-row: 4;
    grid-column: 1/5;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.class1 {
    grid-row: 5;
    grid-column: 1/3;
}
.class2 {
    grid-row: 5;
    grid-column: 3/5;
}
.class3 {
    grid-row: 6;
    grid-column: 1/3;
}
.class4 {
    grid-row: 6;
    grid-column: 3/5;
}

span {
    font-style: italic;
    font-size: 1rem;
    padding: 0.5rem;
}

button {
    grid-row: 8;
    grid-column: 1/5;
    padding: 0.6rem;
    outline: none;
    border: none;
    background-color: #a7b5ed;
    color: white;
    font-size: 1.2rem;
}

button:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:active {
    box-shadow: none;
    transform: scale(1.05);
    transition: 0.3s;
}

.class,
label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a7b5ed;
    color: white;
    height: 100%;
    width: 100%;
    border-radius: 0.1rem;
}

label:hover {
    box-shadow: 1px 1px 0px 1px rgb(0, 0, 0);
    cursor: pointer;
}

label:active {
    transform: scale(1.05);
    transition: 0.3s;
}

input[type="radio"] {
    height: 1rem;
    width: 1rem;
    margin: 0.5rem;
}

img {
    height: 4.5rem;
    width: 4.5rem;
    object-fit: cover;
}
